@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --quickSand: "Quicksand", serif;
  --railWay: "Raleway", serif;
  --orangeColor: #FEA301;
  --skyBlue: #01ACFD;
  --aquaColor: #05D4DF;
  --violetColor: #5D58EF;
  --whiteColor: #FFFFFF;
  --btnHover: #fcc25d;
  --purpleColor: #8700FF;
  --smBtnColor: #95B226;
  --blackColor: rgba(17, 17, 17, 1);
  --secoundBtnHover: rgb(77, 77, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--quickSand);
}

/* Main */
.main {
  max-width: 1450px;
  margin: 0 auto;
}

/* Navigation Area */
.header {
  /* background: bisque; */
  margin-top: 20px;
}

.nav-menu {
  max-width: 1140px;
  /* background: red; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  width: 62px;
  height: 62px;
}

.logo-name {
  font-weight: 800;
  font-size: 2rem;
  padding-left: 10px;
}

.logo-area {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  justify-content: space-around;
  width: 387px;
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul li a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.25rem;
}

.item1 {
  color: var(--orangeColor);
}

.item2 {
  color: var(--skyBlue);
}

.item3 {
  color: var(--aquaColor);
}

.item4 {
  color: var(--violetColor);
}

.btn-primary {
  border: none;
  border-radius: 12px;
  background: var(--orangeColor);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 15px 35px;
  color: var(--whiteColor);
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: var(--btnHover);
}

/* Banner Section */
.banner {
  margin-top: 20px;
  /* max-width: 1450px; */
}

.banner-content {
  /* background: blue; */
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-texts {
  width: 640px;
}

.banner-title {
  font-weight: 800;
  font-size: 3.4rem;
  padding-bottom: 24px;
}

.banner-image {
  width: 477px;
}

.title-style-1 {
  color: var(--orangeColor);
}

.title-style-2 {
  color: var(--skyBlue);
}

.banner-description {
  font-size: 1.25rem;
  padding-bottom: 24px;
}

.btn-secoundary {
  border: none;
  background-color: var(--blackColor);
  border-radius: 12px;
  color: var(--whiteColor);
  padding: 15px 40px;
  font-weight: 800;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.5s;
}

.btn-secoundary:hover {
  background-color: var(--secoundBtnHover);
}

/* Curriculam Section */
.curriculam-list {
  margin-top: 60px;
  max-width: 1450px;
  background-image: url(../assets/bg.png);
}

.curriculam-container {
  width: 1160px;
  margin: 0 auto;
}

.curriculam-title {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 800;
  font-size: 2.80rem;
}

.curriculam-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carriculam-card {
  width: 366px;
  height: 475px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
  border-radius: 18px;
  border: 0.94px solid rgb(222, 245, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.curriculam-btn-1 {
  color: var(--skyBlue);
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
}

.carriculam-card-2 {
  border: 0.94px solid rgb(255, 244, 220);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.carriculam-card-2>.curriculam-btn-1 {
  color: var(--orangeColor);
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
}

.carriculam-card-3 {
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.carriculam-card-3>.curriculam-btn-1 {
  color: var(--purpleColor);
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
}

.fruit-image {
  height: 136px;
  width: 136px;
}

.curriculam-subtitle {
  font-weight: 800;
  font-size: 1.5rem;
  padding: 30px;
}

.curriculam-description {
  font-family: var(--railWay);
  font-weight: 500;
  padding-bottom: 30px;
}

.next-icons {
  text-align: center;
  color: var(--orangeColor);
  padding-top: 80px;
  padding-bottom: 60px;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
  font-size: 60px;
}

.fa-chevron-circle-left {
  padding-right: 10px;
}

/* Story Section */
.story-section {
  margin-top: 60px;
  /* margin-bottom: 150px; */
  height: 1018px;
  background-image: url(../assets/bg.png);
  background: url(image), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.story-title {
  text-align: center;
  font-weight: 800;
  font-size: 2.81rem;
  padding-bottom: 60px;
}

.story-conatainer {
  width: 1160px;
  margin: 0 auto;
}

.card-btn-box {
  margin-top: -30px;
  margin-left: 30px;
}

#card-btn {
  font-family: var(--railWay);
  font-weight: 500;
  font-size: 1rem;
  padding: 18px 19px;
  border-radius: 47px;
  border: none;
  background-color: var(--aquaColor);
  color: var(--whiteColor);
  cursor: pointer;
}

.card-no-1 {
  width: 540px;
}

.story-card,
.small-card {
  border-radius: 16px;
  background: var(--whiteColor);
}

.story-card img,
.small-card img {
  border-radius: 16px 16px 0 0;
}

.text-container {
  padding: 0 30px;
}

.story-subtitle {
  font-weight: 800;
  font-size: 1.5rem;
  padding: 30px 0;
}

.story-description {
  padding-bottom: 35px;
  font-family: var(--railWay);
  font-weight: 500;
  font-size: 1rem;
}

.story-conatainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.small-cards {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.small-card {
  width: 290px;
}

.card-btn-box-sm {
  margin-top: -20px;
  margin-left: 20px;
}

.card-btn-sm {
  font-family: var(--railWay);
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 19px;
  border-radius: 47px;
  border: none;
  background-color: var(--aquaColor);
  color: var(--whiteColor);
  cursor: pointer;
}

.sm-btn-1,
.sm-btn-3,
.sm-btn-4 {
  background-color: var(--smBtnColor);
}

.sm-btn-2 {
  background-color: var(--violetColor);
}

.small-text-box {
  padding: 20px;
}

.small-heading {
  font-weight: 800;
  font-size: 1rem;
}

/* Footer Area */
.footer {
  max-width: 1450px;
  margin: 0 auto;
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}

.footer-content {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 0;
}

.description-box {
  width: 400px;
}

.footer-img-box {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 82px;
  width: 82px;
}

.img-title {
  font-weight: 800;
  font-size: 2.5rem;
  padding-left: 10px;
}

.shool-description {
  margin-top: 35px;
  font-size: 1.25rem;
}

.about-links .subtitle-text {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.about-links ul li {
  list-style: none;
}

.about-links ul li>a {
  text-decoration: none;
  color: var(--whiteColor);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  display: inline-block;
}

.social-heading {
  font-weight: 800;
  font-size: 1.55rem;
  margin-bottom: 30px;
}

.social-icon {
  cursor: pointer;
}